/*Styleing the about page 'ab.css' */

* {
  background: #ccccff;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

h1 {
    margin-top: 10rem;
  justify-content: center;
  text-align: center;
}

/* styling the photo to float left with text fitting around on the other sides */

img {
  width: 350px;
  float: left;
  padding-right: 25px;
}